body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Aliniază elementele pe verticală */
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white; /* Setează culoarea titlului la alb pentru a fi vizibil pe fundalul închis */
    text-transform: uppercase;
    letter-spacing: 2px;
}
section {
    padding: 20px;
    border-bottom: 1px solid #ddd; /* Adaugă o margine jos pentru separare */
    width: 100%; /* Ocupe întreaga lățime */
    text-align: left;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    width: 100%; /* Ocupe întreaga lățime */
    background-color: #eaf2e3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Stiluri pentru imagine */
#imagine-secundara {
    text-align: center;
    margin-bottom: 20px;
}

.imagine {
    width: 80%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.imagine:hover {
    transform: scale(1.05);
}

#map-container {
    display: flex;
    justify-content: center; /* Centrează harta pe orizontală */
    align-items: center; /* Centrează harta pe verticală */
    height: 500px; /* Înălțimea containerului */
    width: 1000px; /* Lățimea containerului */
    overflow: hidden; /* Ascunde orice depășire a hărții */
    margin: 20px auto; /* Adaugă 20px spațiu sus și jos, și centrează containerul pe pagină */
}


/* Harta */
#map {
    width: 100%; /* Lățimea hărții va fi 100% din container */
    height: 100%; /* Înălțimea hărții va fi 100% din container */
    border: 2px solid #2c3e50;
    border-radius: 10px;
    bottom: 50px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #2c3e50;
    color: white;
    font-size: 14px;
}

/* Responsivitate */
@media (max-width: 768px) {
    .imagine {
        width: 100%;
    }
    #map-container {
        height: 300px; /* Ajustează înălțimea containerului pentru dispozitive mici */
    }
}
